.navbar-inverse {
  border: none;
  background-color: rgba(4,50,64, .9);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
  background-color: #7cabbf;
}

.navbar-brand {
  font-size: 1.5em;
}

#about_text {
  color: white;
  background-color: rgba(88,143,159, .3);
  border-radius: 0px;
  max-width: 750px;
  padding-bottom: 10px;
}

#about_title {
  font-size: 4em;
  text-align: left;
  padding-left: 5%;
}

#about_title:after{
  content: '';
  display: block;
  background: #EAF0F1;
  height: 4px;
  max-width: 315px;
  width: 100%;
}

#about_comment {
  font-size: 1.5em;
  text-align: left;
  padding-left: 10%;
  max-width: 700px;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

h4 {
  color: #7cabbf;
}

#my_picture {
  margin-top: 25px;
  width: 400px;
  max-width: 100%;
}

.heading {
  border-bottom: 2px solid #d2ad21;
  margin-bottom: 2%;
}

.information {
  padding-right: 10px;
}

.information h2 {
  border-bottom: 2px solid #d2ad21;
  text-align: left;
  margin-bottom: 3%;
}

.skill {
  color: #d2ad21;
  font-size: 16px;
  text-align: right;
}

.progress {
  background-color: #7cabbf;
  padding-left: 0px;
  max-width: 90%;
  height: 20px;
}

.progress-bar {
    background: #116077; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, #116077, #043240); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #116077, #043240); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #116077, #043240); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #116077, #043240); /* Standard syntax */
}

.glyphicon {
  padding-right: 5px;
}

.projectContainer {
  padding-top: 20px;
  background-color: rgba(88,143,159, .3);
  margin-bottom: 20px;
}

.projectContainer:hover {
  background-color: rgba(176,204,216, .3);
}

.projectTitle {
  font-weight: bold;
  font-size: 2em;
  text-align: left;
  padding: 0px 20px 0px 20px;
}

.projectTitle:after {
  content: '';
  display: block;
  background: #EAF0F1;
  height: 4px;
  max-width: 100px;
  width: 100%;
}

.projectDescription {
  text-align: left;
  padding: 0px 20px 0px 20px;
}

.projectThumbnail {
  float: left;
  width: 100%;
  max-width: 700px;
}

.logos {
  display: inline-block;
  height: 40px;
  opacity: .5;
  margin-top: 2%;
  text-indent: -9999px;
  width: 40px;
}

.logos:hover {
  animation-name: shimmerLogo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  -webkit-animation-name: shimmerLogo;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;  
}

@keyframes shimmerLogo
{
  0%   {opacity: .6;}
  25%  {opacity: .7;}
  50%  {opacity: .8;}
  75%  {opacity: .9;}
  100% {opacity: 1;}
}

@-webkit-keyframes shimmerLogo
{
  0%   {opacity: .8;}
  25%  {opacity: .85;}
  50%  {opacity: .9;}
  75%  {opacity: .95;}
  100% {opacity: 1;}
}

#instagram_link {
  background-image: url('../images/logos/Instagram Glyph Blue.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
}


#linkedin_link {
  background-image: url('../images/logos/LinkedIn_blue.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

#twitter_link {
  background-image: url('../images/logos/Twitter_logo_blue.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

#mail_logo {
  background-image: url('../images/logos/Mail_blue.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

#resume_logo {
  background-image: url('../images/logos/Resume_blue.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

#footer {
  border-top: 2px solid #d2ad21;
  padding-top: 20px;
  border-bottom: 2px solid #d2ad21;
  padding-bottom: 10px;
}

.modal-dialog {
  width: 75%;
}

.modalLabel {
  text-align: center;
}