* {
	margin: 0 auto;
}

body {
	background-image: url(images/ParisView.jpg);
	background-size: cover;
	display: block;
	font-family: Garamond;
	padding: 0;
	width: 100%;
}

#main_screen {
	height: 100vh;

	/*margin-left: 25%;
	margin-right: 25%;
	*/
	text-align: center;
}

p {
	color: white;
	font-family: Courier New;
}

#title {
	margin-bottom: 4%;
}

#title p {
	color: white;
	font-family: Didot;
	font-size: 4em;
	text-shadow: -5px -5px 10px black;
}

#title_blurb p {
	font-size: 3em;
}

#main_image {
	border-radius: 50%;
	height: 250px;
	margin-top: 5%;
	width: 250px;
}

.logos {
	display: inline-block;
	height: 40px;
	opacity: .5;
	margin-top: 2%;
	padding: 10px;
	text-indent: -9999px;
	width: 40px;
}

.logos:hover {
	animation-name: shimmerLogo;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-play-state: running;
	-webkit-animation-name: shimmerLogo;
	-webkit-animation-duration: .5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;	
}

@keyframes shimmerLogo
{
	0%   {opacity: .6;}
	25%  {opacity: .7;}
	50%  {opacity: .8;}
	75%  {opacity: .9;}
	100% {opacity: 1;}
}

@-webkit-keyframes shimmerLogo
{
	0%   {opacity: .6;}
	25%  {opacity: .7;}
	50%  {opacity: .8;}
	75%  {opacity: .9;}
	100% {opacity: 1;}
}

#instagram_link {
	background-image: url('images/logos/Instagram Glyph White.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#linkedin_link {
	background-image: url('images/logos/LinkedIn_white.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#twitter_link {
	background-image: url('images/logos/Twitter_logo_white.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

.main_link {
	background: rgba(140, 140, 120, 0.7);
}

.main_link:hover > p {
	color: rgb(0, 90, 100);
}

.main_link > p {
	color: white;
	font-size: 1.4em;
	border-bottom: 1.5px dotted white;
}

.sections {
	background: rgba(120, 120, 140, 0.9);
	display: none;
	opacity: .7;
	border-bottom: 1px solid white;
}
#contact_link p {
	border-bottom: none;
}
#contact_section {
	border-bottom: none;
}

.sections p {
	color: white;
}

.project_header {
	border-bottom: 1px solid white;
	font-size: 1.3em;
	max-width: 80vh;
}

.project_table {
	margin-bottom: 2%;
	max-width: 75vh;
	min-width: 50vh;
}

th {
	border-bottom: 1px solid black;
	color: black;
	font-size: 1.2em;
}

.project_title {
	border-bottom: 1px solid white;
	font-size: 1.1em;
}

form {
	color: black;
	max-width: 35vh;
}

input {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
}
