* {
	margin: 0 auto;
}

body {
	background-image: url(images/ParisView.jpg);
	background-size: cover;
	display: block;
	font-family: Garamond;
	padding: 0;
	width: 100%;
}

#main_screen {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100vh;
	text-align: center;
}

p {
	color: white;
	font-family: Courier New;
}

#title {
	margin-bottom: 4%;
}

#title p {
	color: white;
	font-family: Didot;
	font-size: 4em;
	text-shadow: -5px -5px 10px black;
}

#title_blurb p {
	font-size: 3em;
}

#main_image {
	border-radius: 50%;
	height: 250px;
	margin-top: 5%;
	width: 250px;
}

.logos {
	display: inline-block;
	height: 40px;
	opacity: .5;
	margin-top: 2%;
	padding: 10px;
	text-indent: -9999px;
	width: 40px;
}

.logos:hover {
	animation-name: shimmerLogo;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-play-state: running;
	-webkit-animation-name: shimmerLogo;
	-webkit-animation-duration: .5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;	
}

@keyframes shimmerLogo
{
	0%   {opacity: .6;}
	25%  {opacity: .7;}
	50%  {opacity: .8;}
	75%  {opacity: .9;}
	100% {opacity: 1;}
}

@-webkit-keyframes shimmerLogo
{
	0%   {opacity: .8; background-size: 45px 45px}
	25%  {opacity: .85; background-size: 45px 45px}
	50%  {opacity: .9; background-size: 45px 45px}
	75%  {opacity: .95; background-size: 45px 45px}
	100% {opacity: 1; background-size: 45px 45px}
}

#instagram_link {
	background-image: url('images/logos/Instagram Glyph White.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#instagram_link:hover {
	background-image: url('images/logos/Instagram Glyph Blue.png');
}

#linkedin_link {
	background-image: url('images/logos/LinkedIn_white.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#linkedin_link:hover {
	background-image: url('images/logos/LinkedIn_blue.png');
}

#twitter_link {
	background-image: url('images/logos/Twitter_logo_white.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#twitter_link:hover {
	background-image: url('images/logos/Twitter_logo_blue.png');
}

#mail_logo {
	background-image: url('images/logos/Mail_white.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#mail_logo:hover {
	background-image: url('images/logos/Mail_blue.png');
}

#resume_logo {
	background-image: url('images/logos/Resume_white.png');
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

#resume_logo:hover {
	background-image: url('images/logos/Resume_blue.png');
}

.main_link {
	background: rgba(95, 100, 105, 0.7);
}

.main_link:hover > p {
	color: rgb(10, 30, 50);
}

.main_link > p {
	color: white;
	font-size: 1.4em;
	border-bottom: 1.5px dotted white;
}

.sections {
	background: rgba(48, 50, 53, 0.9);
	display: none;
	border-bottom: 1px solid white;
}

#project_link > p {
	border-bottom: none;
}

#project_section {
	border-bottom: none;
}

.sections p {
	color: white;
}

#about_info {
	font-size: .8em;
	max-width: 80vh;
}

.project_header {
	border-bottom: 1px solid white;
	font-size: 1.3em;
	max-width: 80vh;
}

.project_table {
	margin-bottom: 2%;
	max-width: 75vh;
	min-width: 50vh;
}

th {
	border-bottom: 1px solid black;
	color: black;
	font-size: 1.2em;
}

.project_header {
	border-bottom: 1px solid white;
	font-size: 1.1em;
}

td {
	text-align: right;
	font-size: 1em;
	color: white;
}

.project_table td {
	font-size: .85em;
	padding: 1%;
	text-align: justify;
	width: 45%;
}
/*
#contact_menu {
	background-color: rgba(0, 0, 0, 0.8);
	border: 3px solid white;
	display: none;
	max-height: 40%;
	max-width: 80%;
	overflow: auto;
	position: fixed;

	bottom: 10%;
	left: 5%;
	right: 5%;
	top: 50%;
}

#contact_menu p {
	border-bottom: 2px solid white;
}

#exit_mail {
	background-image: url('images/logos/Exit_white.png');
	background-size: 22px 22px;
	background-repeat: no-repeat;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	display: block;
	height: 22px;
	float: left;
	text-indent: -9999px;
	width: 22px;
}

input {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	float: left;
}

textarea {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input:hover, textarea:hover {
	border: 2px solid rgb(48, 50, 53);
}

input[type=submit] {
	float: middle;
}

input[type=submit]:hover {
	opacity: 0.6;
}

input:focus, textarea:focus {
	border: 2px solid rgb(30, 40, 50);
}


input:not(:focus):invalid {
	outline: 1px solid red;
}

input:focus:invalid {
	outline: 1px solid blue;
}


form {
	color: black;
	max-width: 35vh;
}

input {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
}
*/
