body
{
	margin: 0;
	margin-top: 3em;
}

#body_index
{
	background-color: black;
}

#body_about
{
	background-color: purple;
}

#header
{
	background-color: #003366;
	border-bottom: 1px solid;
	height: 3em;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
}

#about
{
	background-color: #66C2E0;
}

#projects
{
	background-color: #7EACBA;
}

#contact
{
	background-color: #6A848C;
	margin: 0;
}

#links
{
	color: white;
	display: inline-block;
	font-size: 1em;
	font-family: Garamond;
}

a
{
	color: white;
}
a:visited
{
	color: green;
}
a:hover
{
	color.red;
}

small
{
	font-size: 10px;
}

span
{
	color: yellow;
}

h1
{
	margin: 0;
}
p
{
	margin: 0;
}