#header
{
	background-color: green;
	border: 2px solid;
	border-radius: 1.5em;
	height: 3em;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
}


.menu_links
{
	color: white;
	display: inline-block;
	font-size: 1em;
	font-family: Garamond;
}

body
{
	margin-top: 4em;
}