body
{
	background-image: url(images/dimension.png);
	margin-left: 20%;
}

#screen
{
	background-image: url(images/dimension.png);
	height: 100%;
	left: 0;
	margin: 0;
	top: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: auto;
	
	transition-property: opacity;
	transition-duration: 2s;
	transition-timing-function: linear;
	/* Safari */
	-webkit-transition-property:opacity;
	-webkit-transition-duration:2s;
	-webkit-transition-timing-function:linear;
}

.cscreen
{
	opacity: 0;
}

#screenImg
{
	border-radius: 50%;
	height: 300px;
	margin-top: 150px;
	width: 300px;
}

#screenImg:hover
{
	opacity: 1;
}

#enterBtn
{
	border: 3px solid black;
	border-radius: 15px;
	height: 4em;
	margin: auto;
	margin-top: 20px;
	width: 7em;

	animation-name: shimmer;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-play-state: running;
	-webkit-animation-name: shimmer;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;	
}

@keyframes shimmer
{
	0%   {opacity: .1;}
	25%  {opacity: .3;}
	50%  {opacity: .5;}
	75%  {opacity: .7;}
	100% {opacity: .9;}
}

@-webkit-keyframes shimmer
{
	0%   {opacity: .1;}
	25%  {opacity: .3;}
	50%  {opacity: .5;}
	75%  {opacity: .7;}
	100% {opacity: .9;}
}
*/

#enterBtn:hover
{
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
	opacity: 1;
}

#enterBtn > p
{
	color: black;
	font-size: 1.2em;
	font-family: Garamond;
}

#header
{
	background-image: url(images/dimension.png);
	height: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 15%;
}

#border
{
	border-left: 3.5px solid black;
	height: 60%;
	left: 15%;
	position: fixed;
	top: 20%;
	width: 2%;
}
#links
{
	
}

#main_content
{
	background-color: white;
	border: 1.5px solid black;
	border-radius: 50px;
	height: 80%;
	padding-left: 20px;
	padding-right: 20px;
	position: fixed;
	top: 10%;
	width: 60%;
}

#main_content > *
{
	display: none;
}