* {
	margin: 0 auto;
}

body {
	background-image: url(images/Dark_Wood.png);
	background-size: contain;
	display: block;
	font-family: Garamond;
	padding: 0;
	width: 100%;
}

#main_screen {
	height: 100vh;

	/*margin-left: 25%;
	margin-right: 25%;
	*/
	text-align: center;
}

p {
	color: white;
	font-family: Courier New;
}

#title {
	margin-bottom: 4%;
}

#title p {
	color: white;
	font-family: Didot;
	font-size: 4em;
	text-shadow: 2px 2px 10px black;
}

#title_blurb p {
	font-size: 3em;
}

#main_image {
	border-radius: 50%;
	height: 250px;
	margin-top: 5%;
	width: 250px;
}

.logos {
	display: inline-block;
	height: 35px;
	margin-top: 2%;
	padding: 10px;
	text-indent: -9999px;
	width: 35px;
}

#instagram_link {
	background-image: url('images/logos/Instagram Glyph Black.png');
	background-size: 35px 35px;
	background-repeat: no-repeat;
}

#linkedin_link {
	background-image: url('images/logos/LinkedIn_black.png');
	background-size: 35px 35px;
	background-repeat: no-repeat;
}

#twitter_link {
	background-image: url('images/logos/Twitter_logo_black.png');
	background-size: 35px 35px;
	background-repeat: no-repeat;
}

#twitter_link:hover {
	
}

.main_link {
	background: rgba(80, 80, 60, 0.7);
}

.main_link:hover {
	background: rgba(60, 60, 40, 0.9);
}

.main_link > p {
	color: white;
	font-size: 1.2em;
	border-bottom: 1.5px dashed white;
}



.sections {
	display: none;
	opacity: .7;
	border-bottom: 1px solid white;
}
#contact_link p {
	border-bottom: none;
}
#contact_section {
	border-bottom: none;
}

.sections p {
	color: white;
}
